<h1>Welcome to the URL Shortener!</h1>
<%= form_for @category do |f| %>
    <p>
      <%= f.label :url %> <br />
      <%= f.text_field :url %> <br />

    </p>
    <%= f.submit('Submit') %>


  <% end %>

  <ul>
    <% @categories.each do |cat| %>
      <li>https://peaceful-plains-81204.herokuapp.com/ <%= cat.id %> to go => <%= cat.url %> </li>
    <% end %>
</ul>
